# Automatic Play stuff
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/RUNNING_PID
/.settings
/bin/
.cache

# Eclipse stuff
.classpath
.project
*.classpath

# Production server stuff
errors.log
nohup.out

# Sublime-workspace files are user specific
*.sublime-workspace
