@import general._
@import models._
@import controllers._

@**
 * Lists all the locations in the database so that we can provide editing and similar features.
 *@
@(locations: Seq[AdminLocation])(implicit lang: Lang, flash: Flash)

@scripts = {
  <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
  <script>
    "use strict";

    // See <https://datatables.net/reference/option/>
    $('#adminLocationsTable').DataTable({
      responsive: true,
      pageLength: 25,
      columnDefs: [
        {
          targets: 3,
          width: "40px",
          orderable: false
        }
      ],
      language: {
        lengthMenu: "@Messages("admin.list.tableLengthMenu", "_MENU_")",
        info: "@Messages("admin.list.numResults", "_START_", "_END_", "_TOTAL_")",
        infoEmpty: "",
        emptyTable: "@Messages("admin.list.noResults")",
        infoFiltered: "@Messages("admin.list.filteredFrom", "_MAX_")",
        paginate: {
          previous: "<",
          next: ">"
        }
      }
    });

    /**
     * Opens a confirmation dialogue to confirm a deletion, with the intent being to prevent
     * misclicks from ruining the DB.
     */
    function deleteConfirmation(id) {
      if(confirm("@Messages("admin.list.confirmDelete")")) {
        window.location.assign(jsRoutes.controllers.AdminController.deleteLocation(id).url);
      }
    }
  </script>
}

@mainBody(title = Messages("admin.list.title"), moreScripts = scripts, hasFooter = true) {
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css"/>
  @headingSmall(Messages("general.applicationName"))

  <div class="smallPadding">
    @if(flash.get("add").isDefined) {
      @if(flash.get("add").get == "success") {
        <div class="alert alert-success" role="alert">@Messages("admin.list.addSuccess")</div>
      } else {
        <div class="alert alert-danger" role="alert">@Messages("admin.list.addFailure")</div>
      }
    }
    @if(flash.get("edit").isDefined) {
      @if(flash.get("edit").get == "success") {
        <div class="alert alert-success" role="alert">@Messages("admin.list.editSuccess")</div>
      } else {
        <div class="alert alert-danger" role="alert">@Messages("admin.list.editFailure")</div>
      }
    }
    @if(flash.get("delete").isDefined) {
      @if(flash.get("delete").get == "success") {
        <div class="alert alert-success" role="alert">@Messages("admin.list.deleteSuccess")</div>
      } else {
        <div class="alert alert-danger" role="alert">@Messages("admin.list.deleteFailure")</div>
      }
    }
    @if(flash.get("viewFailure").isDefined) {
      <div class="alert alert-danger" role="alert">@Messages("admin.list.viewFailure")</div>
    }

    <a class="btn btn-primary" href="@routes.AdminController.addLocation" style="margin-bottom: 1em;">
      @Messages("admin.list.addLocation")
    </a>

    <a class="btn btn-danger floatRight" href="@routes.AdminController.logout" style="margin-bottom: 1em;">
      @Messages("admin.list.logout")
    </a>

    <table id="adminLocationsTable">
      <thead>
        <tr>
          <th>@Messages("admin.list.name")</th>
          <th>@Messages("admin.list.address")</th>
          <th>@Messages("admin.list.city")</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for(location <- locations) {
          <tr>
            <td>@location.name</td>
            <td>@location.address</td>
            <td>@location.city</td>
            <td>
              <a class="btn btn-default adminTableButton" href="@routes.AdminController.editLocation(location.id)">
                <i class="glyphicon glyphicon-pencil"></i>
              </a>
              <a class="btn btn-default adminTableButton" href="#" onclick="deleteConfirmation(@location.id)">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
