@import general._
@import models._

@**
 * More information about the violation by violation ID.
 * This is called by violocationInfo page.
 * @param violationId The ID of the violation that need to display more info
 *@
@(violationId: Int)(implicit lang: Lang)

@violationId match{
  case 1 => {
	<h3>Critical Item</h3>
  }
  case 2 => {
	<h3>Critical Item</h3>
  }
  case 3 => {
	<h3>Critical Item</h3>
  }
  case 4 => {
	<h3>Critical Item</h3>
  }
  case 5 => {
	<h3>Critical Item</h3>
  }
  case 6 => {
	<h3>Critical Item</h3>
  }
  case 7 => {
	<h3>Critical Item</h3>
  }
  case 8 => {
	<h3>Critical Item</h3>
  }
  case 9 => {
	<h3>Critical Item</h3>
  }
  case 10 => {
	<h3>General Item</h3>
  }
  case 11 => {
	<h3>General Item</h3>
  }
  case 12 => {
	<h3>General Item</h3>
  }
  case 13 => {
	<h3>General Item</h3>
  }
  case 14 => {
	<h3>General Item</h3>
  }
  case 15 => {
	<h3>General Item</h3>
  }
  case 16 => {
	<h3>General Item</h3>
  }
  case _ => {
    <p>Violation not found!</p>
  }
}