@import play.api.libs.json.{Json, JsObject}
@import models.Language

@**
 * A language selection input. Allows the user to manually change languages.
 *@
@()

<img src="@routes.Assets.at("images/language_icon.png")" class="footerImage" />
<select id="languageSelect">
  @for(language <- Language.getSupportedLanguages.getOrElse(Seq.empty[Language])) {
    <option value="@language.code" @if(language.code == "en") { selected }>
      @language.name
    </option>
  }
</select>
<span id="width_tmp" style="display: none"></span>

<script>
  "use strict";

  /**
   * Resizes the select to its selected value (from <http://stackoverflow.com/a/20091985/1968462>).
   */
  function resizeSelectToSelected() {
    var ARROW_WIDTH = 30;
    $("#width_tmp").html($("#languageSelect option:selected").text());
    $("#languageSelect").width($("#width_tmp").width() + ARROW_WIDTH);
  }

  resizeSelectToSelected();
  $("#languageSelect").on("change", resizeSelectToSelected);

  $("#languageSelect").on("change", function() {
    var selectedLang = $("#languageSelect option:selected").val();
    console.log("Switching to language " + selectedLang);
  });
</script>