@**
 * Creates the main body of a page. This is the top level HTML, heading, footer, nav bar, and title
 * bar.
 *
 * @param title The HTML title of the page.
 * @param moreScripts Additional JavaScript scripts to place on the page. These will be placed at
 * the very bottom, below the regular scripts.
 * @param html The body of the page.
 *
 * Recommended way of using:
 *
 * {{{
 * @scripts = {
 *   <script>
 *     // Do stuff
 *   </script>
 * }
 *
 * @mainBody(title = "My title", moreScripts = scripts) {
 *   <!-- HTML goes here -->
 * }
 * }}}
 *@
@(title: String, moreScripts: Html = Html(""), hasFooter: Boolean = false)(html: Html)

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@title</title>

    @*
       Link to necessary scripts and stylesheets. Note that everything linked here *will* slow
       down perceived loading, as everything here will be loaded before the page is displayed.
       so ideally only necessary stuff will be placed here and everything else will be inside
       the `moreScripts` variable.
    *@
    <script src="@controllers.routes.Assets.at("javascripts/jquery.min.js")"></script>
    <script src="@controllers.routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script src="@controllers.routes.Assets.at("javascripts/jquery.typeahead.js")"></script>
    <script src="@controllers.routes.Application.javascriptRoutes"></script>

    <link rel="stylesheet" href="@controllers.routes.Assets.at("stylesheets/bootstrap.min.css")" />
    <link rel="stylesheet" href="@controllers.routes.Assets.at("stylesheets/jquery.typeahead.css")" />

    <!-- This is the custom stylesheet, so must load last. -->
    <link rel="stylesheet" href="@controllers.routes.Assets.at("stylesheets/main.css")" />
      <style>
      .glyphicon {
	    top: 0px;
	  }
    </style>
  </head>
  <body>
    @* Here be ye right ol' content! *@
    @html
    
    @if(hasFooter) { @footer() }

    @* Any other scripts *@
    <script src="@controllers.routes.Assets.at("javascripts/common.js")"></script>
    @moreScripts
  </body>
</html>
