/**
 * This is the custom CSS for our application.
 */

/* The heading for the main page, where it takes up a larger portion of the screen. */
.largeHeading {
  background-color: #479432;
  height: 30vh;
  display: flex;
  min-height: 3em;
  font-size: 3em;
  color: white;
}

/* Need to position the text inside the heading */
.largeHeading span {
  padding: 0.25em;
  align-self: flex-end;
}

/* Smaller headings for other pages */
.smallHeading {
  background-color: #479432;
  font-size: 2em;
  padding: 0 0.25em;
  color: white;
}

@media (min-width: 700px) {
  .smallHeading {
    font-size: 4em;
  }
}

/* For making the mouse into a pointer (showing that content can be clicked on). */
.pointer {
  cursor: pointer;
}

#pastInspections {
  padding: 1em;
}

/* Faded text */
.faded {
  color: gray;
}

/* Override rounded accordions to make ours look flat. */
.panel-default {
  border-radius: 0 !important;
  border-top: none;
}

/* Need a wee bit of trickery to avoid double borders. */
.panel-group .panel-default:first-child {
  border-top: 1px solid #DDD;
}

.panel-group .panel + .panel {
  margin-top: 0;
}