/**
 * This is the custom CSS for our application.
 */

/* The heading for the main page, where it takes up a larger portion of the screen. */
.largeHeading {
  background-color: #479432;
  height: 30vh;
  display: flex;
  min-height: 3em;
  font-size: 3em;
  color: white;
}

/* Need to position the text inside the heading */
.largeHeading span {
  padding: 0.25em;
  align-self: flex-end;
}

/* Smaller headings for other pages */
.smallHeading {
  background-color: #479432;
  font-size: 2em;
  padding: 0 0.25em;
  color: white;
}
