@import general._
@import models._
@import controllers._
@import org.apache.commons.lang3.exception.ExceptionUtils
@import play.api.Play.current

@()(implicit lang: Lang)

@mainBody(title = Messages("errors.error404Title"), hasFooter = true) {
  @headingSmall(Messages("general.applicationName"))
  <div class="smallPadding">
    <h2 class="errorCode">@Messages("errors.error404Title")</h2>
    <h3 class="errorDescription">@Messages("errors.error404Desc")</h3>
    <p>@Html(Messages("errors.error404Text"))</p>
  </div>
}
