/**
 * This is the custom CSS for our application.
 */

/*******************************************************************************
 ****************************** GENERAL PURPOSE ********************************
 ******************************************************************************/

/* Headings can't be too large, since restaurants can have long names */
h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

/* General purpose padding */
.smallPadding {
  padding: 0.5em;
}

.floatRight {
  float: right;
}

/* Faded text */
.faded {
  color: gray;
}

/* For making the mouse into a pointer (showing that content can be clicked on). */
.pointer {
  cursor: pointer;
}

/* Default tab size is ridiculous. */
pre {
  tab-size: 2;
  -moz-tab-size: 2;
  -o-tab-size: 2;
}

/*******************************************************************************
 ********************************* SPECIFICS ***********************************
 ******************************************************************************/

/* The heading for the main page, where it takes up a larger portion of the screen. */
.largeHeading {
  background-color: #479432;
  height: 30vh;
  display: flex;
  min-height: 2em;
  font-size: 2em;
  color: white;
}

/* Need to position the text inside the heading */
.largeHeading span {
  padding: 0.25em;
  align-self: flex-end;
}

/* Smaller headings for other pages */
.smallHeading {
  background-color: #479432;
  font-size: 2em;
  padding: 0 0.25em;
  color: white;
}

/* Remove the over-done boreder around typeaheads. */
.typeahead-container {
  box-shadow: none;
  padding: 0;
}

/* Fix case of typeaheads. */
.typeahead-list {
  text-transform: capitalize;
}

/* Fix weird positioning bug where the typeahead prompt has a gap between it
   and the text input. */
.typeahead-result {
  top: inherit;
}

/* Typeahead formatting for the location selection */
.locationTypeaheadAddress {
  color: #555;
  font-size: 0.8em;
}

#pastInspections {
  padding: 1em;
}

/* Override rounded accordions to make ours look flat. */
.panel-default {
  border-radius: 0 !important;
  border-top: none;
}

/* Need a wee bit of trickery to avoid double borders. */
.panel-group .panel-default:first-child {
  border-top: 1px solid #DDD;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

/* Section for prominent ratings on a page */
.ratingSection {
  padding: 0.5em 0;
  font-size: 1.2em;
}

/* Rating styles (mostly TODO) */
.ratingNA {
  color: gray;
}

/* Formatting the extra data at the bottom of the location view as a list */
.locationExtraData {
  margin-top: 1em;
  list-style-type: none;
  padding-left: 0;
}

/* Extra gap between every two items (which is a pairing of bolded title and value) */
.locationExtraData li:nth-child(2n + 1) {
  margin-top: 0.5em;
}

/* Formatting for error pages. */
.errorCode {
  font-size: 5em;
  font-family: Impact, Charcoal, sans-serif;
  margin-bottom: 0.1em;
  color: red;
  .outlineText(black, 2px);
  text-align: center;
}

.errorDescription {
  font-size: 2em;
  margin-top: 0;
  text-align: center;
}

/*******************************************************************************
 ****************************** MEDIA QUERIES **********************************
 ******************************************************************************/

@media (min-width: 700px) {
  .smallHeading, .largeHeading {
    font-size: 4em;
  }
}

/*******************************************************************************
 *********************************** MIXINS ************************************
 ******************************************************************************/

/* Simulates outlining text by creating solid shadows in every direction. The
   results will be undefined if the width is greater than the text size. This
   will not work for partially transparent colors. */
.outlineText(@color: black; @width: 2) {
  text-shadow: -@width 0 @color, 0 @width @color, @width 0 @color, 0 -@width @color,
      -@width -@width @color, @width @width @color, -@width @width @color, @width -@width @color;
}