@import general._
@import models._

@**
 * Display the a inspection inside a location page. 
 * @param locationId The ID of the current location, used to redirect back to location view
 * @param Inspection The inspection object that need to display
 *@
@(locationId: Int, inspection: Inspection)(implicit lang: Lang)

@if(inspection.violations.size == 0) {
  <div class="panel panel-default" style="border-top: 1px solid #DDD;">
    <div class="panel-heading">
      <h4 class="panel-title">
        @Messages("locations.view.noViolations")
      </h4>
    </div>
  </div>
} else {
  <!-- See: http://getbootstrap.com/javascript/#collapse -->
  <div class="panel-group" id="inspection_accordion_@inspection.date" role="tablist">
    @for(violation <- inspection.violations) {
      <div class="panel panel-default inspectionAccordion">
        <div class="panel-heading pointer collapsed" role="tab" data-parent="#inspection_accordion_@inspection.date" data-toggle="collapse" data-target="#collapse_@(inspection.date)_@violation.id">
          <h4 class="panel-title">
            <!-- CSS will add a [+] or [-] after this -->
            <span class="panel-title-text">@Messages(violation.name)</span>
          </h4>
        </div>
        <div id="collapse_@(inspection.date)_@violation.id" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            @Messages(violation.description)
            <a class="violationLink" href="@routes.LocationController.violationInfo(locationId, violation.id)">
              @Messages("locations.view.moreInfoViolation")
            </a>
          </div>
        </div>
      </div>
    }
  </div>
}
