@import general._
@import models._

@**
 * Displays a link to the RHA website.
 *@
@(rha: String)

@rha match{
  case "Saskatoon Health Authority" => {
    <a id="rhaSiteLink" href="https://www.saskatoonhealthregion.ca/">@rha</a>
  }
  case "Sun Country Health Authority" => {
    <a id="rhaSiteLink" href="http://www.suncountry.sk.ca/">@rha</a>
  }
  case "Prairie North Health Authority" => {
    <a id="rhaSiteLink" href="http://www.pnrha.ca/">@rha</a>
  }
  case "Sunrise Health Authority" => {
    <a id="rhaSiteLink" href="http://www.sunrisehealthregion.sk.ca/">@rha</a>
  }
  case "Kelsey Trail Health Authority" => {
    <a id="rhaSiteLink" href="http://www.kelseytrailhealth.ca/Pages/default.aspx">@rha</a>
  }
  case "Five Hills Health Authority" => {
    <a id="rhaSiteLink" href="http://www.fhhr.ca/">@rha</a>
  }
  case "Heartland Health Authority" => {
    <a id="rhaSiteLink" href="http://www.hrha.sk.ca/">@rha</a>
  }
  case "PA Parkland Health Authority" => {
    <a id="rhaSiteLink" href="http://www.princealbertparklandhealth.com/menu_pg.asp">@rha</a>
  }
  case "Cypress Health Authority" => {
    <a id="rhaSiteLink" href="http://www.cypresshealth.ca/">@rha</a>
  }
  case "Regina QuAppelle Health Authority" => {
    <a id="rhaSiteLink" href="http://www.rqhealth.ca/">@rha</a>
  }
  case _ => {
    @rha
  }
}