@import general._
@import models._

@**
 * Displays a link to the website to show more information about the violation.
 *@
@(violationId: Int, violationDescription: String)(implicit lang: Lang)

@violationId match{
  case 1 => {
    <a id="violationLink" href="https://www.saskatoonhealthregion.ca/">@violationDescription</a>
  }
  case 2 => {
    <a id="violationLink" href="http://www.suncountry.sk.ca/">@violationDescription</a>
  }
  case 3 => {
    <a id="violationLink" href="http://www.pnrha.ca/">@violationDescription</a>
  }
  case 4 => {
    <a id="violationLink" href="http://www.sunrisehealthregion.sk.ca/">@violationDescription</a>
  }
  case 5 => {
    <a id="violationLink" href="http://www.kelseytrailhealth.ca/Pages/default.aspx">@violationDescription</a>
  }
  case 6 => {
    <a id="violationLink" href="http://www.fhhr.ca/">@violationDescription</a>
  }
  case 7 => {
    <a id="violationLink" href="http://www.hrha.sk.ca/">@violationDescription</a>
  }
  case 8 => {
    <a id="violationLink" href="http://www.princealbertparklandhealth.com/menu_pg.asp">@violationDescription</a>
  }
  case 9 => {
    <a id="violationLink" href="http://www.cypresshealth.ca/">@violationDescription</a>
  }
  case 10 => {
    <a id="violationLink" href="http://www.rqhealth.ca/">@violationDescription</a>
  }
  case 11 => {
    <a id="violationLink" href="http://www.kelseytrailhealth.ca/Pages/default.aspx">@violationDescription</a>
  }
  case 12 => {
    <a id="violationLink" href="http://www.fhhr.ca/">@violationDescription</a>
  }
  case 13 => {
    <a id="violationLink" href="http://www.hrha.sk.ca/">@violationDescription</a>
  }
  case 14 => {
    <a id="violationLink" href="http://www.princealbertparklandhealth.com/menu_pg.asp">@violationDescription</a>
  }
  case 15 => {
    <a id="violationLink" href="http://www.cypresshealth.ca/">@violationDescription</a>
  }
  case 16 => {
    <a id="violationLink" href="http://www.rqhealth.ca/">@violationDescription</a>
  }
  case _ => {
    @violationDescription
  }
}