@import general._
@import models._
@import controllers._

@**
 * Displays a location with inspection data, ratings, etc.
 *@
@(location: Location)(implicit lang: Lang)

@mainBody(title = Messages("locations.view.titleStart")+ ": "  + location.name +
    location.address.map(" [" + _ + "]").getOrElse(""), hasFooter = true) {
  @headingSmall(Messages("general.applicationName"))

  <div class="smallPadding">
    <h1>@location.name</h1>

    @* Note that if the city is not defined, the address probably isn't, either. *@
    @if(location.address.isDefined && location.city.isDefined) {
      <a id="mapForLocation" href="@routes.MapController.showMap(location.address.get, location.city.get)">
        @location.address.get
      </a>
      <br />
    }

    @* Display the city and address if both are set, one if one is set, or a default if neither.
       As you can see, the template system has no else-if. *@
    @if(location.city.isDefined && location.postalCode.isDefined) {
      @location.city.get, @location.postalCode.get
    } else {
      @if(location.city.isDefined) {
        @location.city.get
      } else {
        @if(location.postalCode.isDefined) {
          @location.postalCode.get
        } else {
          @Messages("locations.view.unknownLocation")
        }
      }
    }

    <div class="ratingSection">
      Rating: <span class="rating_@location.rating.toString"></span>
    </div>

    @if(location.hasInspections) {
      Most recent issues:<span class="faded floatRight">[@location.inspections(0).date]</span>
      @displayInspection(location.inspections(0))

      @displayPastInspections(location)

      <ul class="locationExtraData">
        <li><b>@Messages("locations.view.previousInspectionType"):</b></li>
        <li>@location.inspections(0).inspectionType</li>

        <li><b>@Messages("locations.view.rha"):</b></li>
        <li>@displayRhaLink(location.regionalHealthAuthority)</li>
      </ul>
    } else {
      <div class="panel panel-default" style="border-top: 1px solid #DDD;">
        <div class="panel-heading">
          <h4 class="panel-title">
            @Messages("locations.view.noRecentInspections")
          </h4>
        </div>
      </div>
    }
  </div>
}