@import general._
@import models._

@**
 * TODO: Document me!
 *@
@(location: Location)

@if(location.inspections.size > 1) {
  <h2>@Messages("locations.view.pastInspectionsHeader")</h2>
  <a class="pointer" id="showHideLink" style="margin-left: 1em;">@Messages("locations.view.pastInspectionsShow")</a>

  <div id="pastInspections" style="display: none;">
    @for(i <- 1 until location.inspections.size) {
      <span class="faded">[@location.inspections(i).date]</span>
      @displayInspection(location.inspections(i))
    }
  </div>

  <script>
    var pastInspectionsHidden = true;

    $("#showHideLink").on("click", function() {
      // Need to change the text to "show" or "hide" based on current visibility
      if(pastInspectionsHidden) {
        $('#pastInspections').show("slow");
        $('#showHideLink').text("@Messages("locations.view.pastInspectionsHide")");
      }
      else {
        $('#pastInspections').hide("slow");
        $('#showHideLink').text("@Messages("locations.view.pastInspectionsShow")");
      }

      pastInspectionsHidden = !pastInspectionsHidden;
    });
  </script>
}