@import general._
@import models._
@import controllers._

@**
 * Displays an address on a map. The address should be the street address (preferably minimalistic,
 * as unnecessary text in the address will break the map) and the city is obvious.
 *@
@(address: String, city: String)

@scripts = {
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  <script>
    function sizeMapCanvas() {
      // Set the map container size to fill the remaining space
      var canvas = $("#map-canvas");
      var canvasHeight = $(window).height() - canvas.offset().top;
      canvas.css("height", canvasHeight + "px");
      canvas.css("width", "100%");
    }

    $(window).resize(sizeMapCanvas);
    sizeMapCanvas();

    // Create the map
    var geocoder;
    var map;

    function initialize() {
      geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng(52.1333, -106.6833);
      map = new google.maps.Map(document.getElementById("map-canvas"), {
        zoom: 3,
        center: latlng
      });
      codeAddress();
    }

    // Retain center when resizing map. Otherwise the resizing will retain the top left corner and
    // we may end up hiding the marker from view, which is probably in the center of the window
    // (although it doesn't have to be and this doesn't depend on the marker position). This
    // helps ensure that resizing the map still looks at the same thing (assuming the thing is
    // in fact in the center).
    google.maps.event.addDomListener(window, "resize", function() {
      var center = map.getCenter();
      google.maps.event.trigger(map, "resize");
      map.setCenter(center); 
    });

    /**
     * Takes the address and city passed into this view and geocodes their location.
     */
    function codeAddress() {
      var address = "@{address} , @{city}";
      geocoder.geocode( { "address": address }, function(results, status) {
        if(status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          map.setZoom(15);
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        }
        else {
          alert("Geocoding failed: " + status);
        }
      });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
}

@mainBody(title = Messages("maps.displayAddress.title", address, city), moreScripts = scripts) {
  @headingSmall(Messages("general.applicationName"))
  <h2 class="mapLocation-header">@{address}, @{city}</h2>
  <div id="map-canvas"></div>
}