@import general._
@import models._
@import controllers._

@**
 * Displays a location with inspection data, ratings, etc.
 *@
@(location: Location)

@scripts = {
  <script>
    function showMap(){
      var address = "@{location.address}"
      var city = "@{location.city}"
      var destURL = "/map?address=" + encodeURIComponent(address)+ "&city=" + encodeURIComponent(city);
      window.location.assign(destURL); 
    }
  </script>

}

@mainBody(title = Messages("locations.view.titleStart") + ": " + location.name + " [" + location.address + "]", moreScripts = scripts) {
  @headingSmall(Messages("general.applicationName"))
  <div class="smallPadding">
    <h1>@location.name</h1>
    @location.address<br />
    @location.city, @location.postalCode

    <div class="ratingSection">
      Rating: <span class="ratingNA">N/A</span>
    </div>

    @if(location.hasInspections) {
      Most recent issues:<span class="faded floatRight">[@location.inspections(0).date]</span>
      @displayInspection(location.inspections(0))

      @displayPastInspections(location)

      <ul class="locationExtraData">
        <li><b>@Messages("locations.view.previousInspectionType"):</b></li>
        <li>@location.inspections(0).inspectionType</li>

        <li><b>@Messages("locations.view.rha"):</b></li>
        <li>@displayRhaLink(location.regionalHealthAuthority)</li>
      </ul>
    } else {
      <div class="panel panel-default" style="border-top: 1px solid #DDD;">
        <div class="panel-heading">
          <h4 class="panel-title">
            @Messages("locations.view.noRecentInspections")
          </h4>
        </div>
      </div>
    }
    <span class="typeahead-button">
          <button type="button" class="btn btn-default" onclick="showMap()">Show Map</button>
        </span>
  </div>
}