@import general._
@import models._
@import controllers._

@**
 * This page is intended to allow users to get to a specific location page via a typeahead
 * search bar. When a location is selected, the ID is set in a hidden field, which is
 * then submitted to the JavaScript function that formats the URL and directs the browser.
 *
 * locations: A list of all the locations in the municipality specified.
 *@
@(locations: Seq[SlimLocation])

@scripts = {
  <script src="@controllers.routes.Assets.at("javascripts/common.js")"></script>
  <script>
    "use strict";
    
    var places = @Html(util.TypeConversions.slimLocationsToJson(locations).toString);
     
    $("#location").typeahead({
      minLength: 1,
      maxItem: 8,
      hint: true,
      display: "name",
      template: '<span>' +
          '<span class="locationTypeaheadName">{{name}}</span>' +
          '<br />' +
          '<span class="locationTypeaheadAddress">{{address}}</span>' +
          '</span>',
      source: {
        data: places
      },
      callback: {
        onSubmit: function(node, form, obj, e) {
          if($("#location").val() == "") {
            createPageError("@Messages("locations.selectLocation.noInput")");
            return;
          }
          if(obj == null) {
            createPageError("@Messages("locations.selectLocation.badInput")");
            return;
          }

          window.location.assign(jsRoutes.controllers.LocationController.showLocation(obj.id).url);
        }
      }
    });
    $("#location").focus();
  </script>
}

@mainBody(title = Messages("locations.selectLocation.title"), moreScripts = scripts) {
  @headingSmall(Messages("general.applicationName"))
  <div class="smallPadding">
    <h2>@Messages("locations.selectLocation.prompt")</h2>
    
    <form id="form-location">
      <div class="typeahead-container">
        <div class="typeahead-field">

          <span class="typeahead-query">
            <input id="location" type="search" placeholder="Search (ex: Subway)" autocomplete="off">
          </span>
          <span class="typeahead-button">
            <button type="submit">
              <i class="search-icon"></i>
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
}
