@import general._
@import models._
@import controllers._

@**
 * This page is intended to allow users to get to a specific location page via a typeahead
 * search bar. When a location is selected, the ID is set in a hidden field, which is
 * then submitted to the JavaScript function that formats the URL and directs the browser.
 *
 * locations: A list of all the locations in the municipality specified.
 *@
@(city: String, query: String, locations: Seq[SlimLocation])(implicit lang: Lang)

@scripts = {
  <script>
    "use strict";
    
    // ...
  </script>
}

@mainBody(title = Messages("locations.search.title", query), moreScripts = scripts, hasFooter = true) {
  @headingSmall(Messages("general.applicationName"))

  <div class="smallPadding">
    <h2>@Messages("locations.search.heading", query)</h2>

      @locations.toString

    <button type="button" class="btn btn-primary">@Messages("locations.search.backButton")</button>

  </div>
}
