@import general._
@import models._
@import controllers._

@**
 * This page is intended to allow users to get to a specific location page via a typeahead
 * search bar. When a location is selected, the ID is set in a hidden field, which is
 * then submitted to the JavaScript function that formats the URL and directs the browser.
 *
 * locations: A list of all the locations in the municipality specified.
 *@
@(city: String, query: String, locations: Seq[SlimLocation], lax: Boolean)(implicit lang: Lang)

@scripts = {
  <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/plug-ins/f2c75b7247b/pagination/ellipses.js"></script>
  <script>
    "use strict";
    
    // See <https://github.com/DataTables/Plugins/issues/101#issuecomment-55108765>
    $.fn.dataTable.ext.pager.numbers_length = 5;

    // See <https://datatables.net/reference/option/>
    $('#searchResultsTable').DataTable({
      searching: false,
      dom: "rtilp",
      language: {
        lengthMenu: "@Messages("locations.search.tableLengthMenu", "_MENU_")",
        info: "@Messages("locations.search.numResults", "_START_", "_END_", "_TOTAL_")",
        infoEmpty: "",
        emptyTable: "@Messages("locations.search.noResults")",
        paginate: {
          previous: "<",
          next: ">"
        }
      }
    });
  </script>
}

@mainBody(title = Messages("locations.search.title", query), moreScripts = scripts, hasFooter = true) {
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css"/>
  @headingSmall(Messages("general.applicationName"))

  <div class="smallPadding">
    <h2>@Messages("locations.search.heading", query)</h2>

    <table id="searchResultsTable">
      <thead>
        <tr>
          <th>@Messages("locations.search.rankSymbol")</th>
          <th>@Messages("locations.search.name")</th>
          <th>@Messages("locations.search.address")</th>
        </tr>
      </thead>
      <tbody>
        @for(locationWithIndex <- locations.zipWithIndex) {
          <tr>
            <td>@locationWithIndex._2</td>
            <td>
              <a href="@routes.LocationController.showLocation(locationWithIndex._1.id)">
                @locationWithIndex._1.name
              </a>
            </td>
            <td>@locationWithIndex._1.address</td>
          </tr>
        }
      </tbody>
    </table>

    @if(!lax) {
      <div class="searchButtons">
        @Messages("locations.search.weakSearch1")
        <a href="@routes.SearchController.searchLocations(query, city, true)">
          @Messages("locations.search.weakSearch2")
        </a>
      </div>
    }

    <div class="searchButtons">
      <a class="btn btn-primary" role="button" href="@routes.LocationController.findLocation(city)">
        @Messages("locations.search.backButton")
      </a>
    </div>
  </div>
}
