@import general._
@import models._
@import controllers._
@import play.api.libs.json.Json

@**
 * Allows a user to select their city of interest from a list of municipalities in their
 * current region.
 *
 * @param municipalities A list of all the municipalities the user may choose from.
 *@
@(municipalities: Seq[String])

@scripts = {
  <script>
    "use strict";
    
    var cities = @Html(Json.toJson(municipalities).toString)
    
    $("#municipality").typeahead({
      delay: 100,
      minLength: 1,
      maxItem: 8,
      hint: true,
      source: {
        data: cities
      }
    });
    $("#municipality").focus();

   function setCity() {
      var cityPicked = $("#firstGuessCity").val();
      
      cityPicked = toTitleCase(cityPicked);
      
      if(cityPicked == null) {
        cityPicked = $("#municipality").val();
      }
      
      var destURL = "/find/" + cityPicked;
      window.location.assign(destURL);
    }
    
    function setHint() {
      var citySuggested = $(".typeahead-hint").val();
      $("#firstGuessCity").val(citySuggested);
    }
    
    // Via Greg Dean on stackoverflow
    // http://stackoverflow.com/questions/196972/convert-string-to-title-case-with-javascript
    function toTitleCase(str)
    {
      return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }
  </script>
}

@mainBody(title = Messages("locations.selectCity.title"), moreScripts = scripts) {
  @headingLarge(Messages("general.applicationName"))
  <div class="smallPadding">
    <h2>@Messages("locations.selectCity.prompt")</h2>
    <div class="typeahead-container">
      <div class="typeahead-field">

        <span class="typeahead-query">
          <input id="municipality" onkeypress="if(event.keyCode==13){setCity()}else{window.setTimeout(setHint, 200)}"
                 name="municipality[query]" type="search" placeholder="Search" autocomplete="on">
                 
          <input id="firstGuessCity" hidden>
        </span>
        <span class="typeahead-button">
          <button type="submit" id="submitButton" onclick="setCity()">
            <i class="search-icon"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
}
