@import general._
@import models._
@import controllers._
@import play.api.libs.json.Json

@**
 * Allows a user to select their city of interest from a list of municipalities in their
 * current region.
 *
 * @param municipalities A list of all the municipalities the user may choose from.
 *@
@(municipalities: Seq[String])

@scripts = {
  <script>
    var cities = @Html(Json.toJson(municipalities).toString)
    
    $('#municipality').typeahead({
      minLength: 1,
      maxItem: 8,
      order: "asc",
      hint: true,
      source: {
      data: cities
      }
    });

   function setCity() {
      var cityPicked = $("#municipality").val();
      var destURL = "/find/" + cityPicked;
      window.location.assign(destURL);
    }
  </script>
}

@mainBody(title = Messages("locations.selectCity.title"), moreScripts = scripts) {
  @headingSmall(Messages("general.applicationName"))
  <h2>@Messages("locations.selectCity.prompt")</h2>
  <div class="typeahead-container">
    <div class="typeahead-field">

      <span class="typeahead-query">
        <input id="municipality" onkeypress="if (event.keyCode==13){setCity()}"
               name="municipality[query]" type="search" placeholder="Search" autocomplete="off">
      </span>
      <span class="typeahead-button">
        <button type="submit" id="submitButton" onclick="setCity()">
          <i class="search-icon"></i>
        </button>
      </span>
    </div>
  </div>
}
