@import general._
@import models._
@import controllers._

@**
 * Allows a user to select their city of interest from a list of municipalities in their
 * current region. Currently the "region" is hard-coded to Saskatchewan, though this
 * could be easily expanded as the system itself grows.
 *
 * municipalities: A list of all the municipalities the user may choose from.
 *@
@(municipalities: Seq[String])

@scripts = {
  <script>
    var cities = []
    @for(city <- municipalities) {
      cities.push('@city');
    }
    
    $('#municipality').typeahead({
      minLength: 1,
      maxItem: 8,
      order: "asc",
      hint: true,
      source: {
          data: cities
      }
    });
  </script>
}

@mainBody(title = "Choose a city", moreScripts = scripts) {
  @headingSmall(Messages("general.applicationName"))
  <h2>Choose a city</h2>
  <div class="typeahead-container">
    <div class="typeahead-field">

      <span class="typeahead-query">
        <input id="municipality" onkeypress="if (event.keyCode==13){setCity()}"
               name="municipality[query]" type="search" placeholder="Search" autocomplete="off">
      </span>
      <span class="typeahead-button">
        <button type="submit" id="submitButton" onclick="setCity()">
          <i class="search-icon"></i>
        </button>
      </span>
    </div>
  </div>
  
  <script>
    function setCity() {
      var cityPicked = document.getElementById("municipality").value;
      var destURL = window.location.origin + "/find/" + cityPicked;
      window.location.assign(destURL);
    }
  </script>
}
